:root {
    --color-1: #fefefe;
    --color-2: #b80202;
    --color-3: #b7b7b7;
    --color-4: #e0e0e0;
}


html {
    scroll-behavior: smooth;
    /* Плавный скролл для якорей */
}



h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul,
li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

}

img {
    display: block;

}

button {
    display: block;
    cursor: pointer;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}



.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;


}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 20px;
        /* Устанавливаем отступ слева */
        padding-right: 20px;
        /* Устанавливаем отступ справа */
    }
}

body {
    background-color: black;

}


/*--------------ХЕДЕР--------------*/

.menu-page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 154px;
    height: 154px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 34px;
    align-items: center;
    justify-content: center;

}


.nav-link {
    color: #fefefe;
    text-align: left;
    font-family: "Namu-Pro", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    text-transform: uppercase;

}



.nav-link:hover {
    color: #b80202;
    /* Красный цвет при наведении */
}

.nav-link.active {
    color: #b80202;
    /* Красный цвет активной ссылки */
}

.language-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

}

.language-link {
    color: #fefefe;
    text-align: left;
    font-family: "Namu-Pro", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    text-transform: uppercase;

}

.language-link:hover,
.language-link:focus {
    color: #b80202;
    outline: none;
}

.language-divider {
    margin-top: -3px;
    border-style: solid;
    border-color: #b80202;
    border-width: 3px 0 0 0;
    flex-shrink: 0;
    width: 28px;
    height: 0px;
    transform: rotate(90deg) scale(1, 1);
}

.button {
    position: relative;


}

.button-content {
    width: 360px;
    height: 66px;
    position: static;
    cursor: pointer;
}

.btn-txt {
    color: #fefefe;
    text-align: left;
    font-family: "Namu-Pro", sans-serif;
    font-size: 26px;
    line-height: 140%;
    font-weight: 400;
    position: absolute;
    left: 68px;
    top: 11px;
    transition: color 0.3s ease;
    width: 370px;
}

.rectangles {
    width: 56px;
    height: 50px;
    position: static;
}

.rectangle_one {
    background: #b80202;
    width: 18px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.rectangle_two {
    background: #b80202;
    width: 34px;
    height: 50px;
    position: absolute;
    left: 22px;
    top: 0px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.line {
    margin-top: -4px;
    border-style: solid;
    border-color: #b80202;
    border-width: 4px 0 0 0;
    width: 360px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 66px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    transition: border-color 0.3s ease;
}





.button:hover .btn-txt,
.button:focus .btn-txt {
    color: #b80202;

}

.button:hover .rectangle_one,
.button:focus .rectangle_one,
.button:hover .rectangle_two,
.button:focus .rectangle_two {
    background: #fefefe;

}

.button:hover .line,
.button:focus .line {
    border-color: #fefefe;

}


@media screen and (max-width: 768px) {
    .menu-page-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 44px;
        height: 28px;
        cursor: pointer;
    }

    .burger-menu div {
        background: var(--color-2);
        height: 4px;
        width: 100%;
        border-radius: 2px;
        width: 44px;
        transition: all 0.3s ease-in-out;
    }

    .language-switch {
        display: flex;
        gap: 5px;
        align-items: center;

        justify-content: center;
    }

    .language-link {
        color: #fefefe;

        font-size: 14px;

        text-transform: uppercase;
    }

    .language-divider {
        margin-top: -3px;
        border-style: solid;
        border-color: #b80202;
        border-width: 3px 0 0 0;
        flex-shrink: 0;
        width: 28px;
        height: 0px;
        transform: rotate(90deg) scale(1, 1);
    }

    .burger-menu {
        order: 3;
        /* Перемещаем бургер-меню рядом с языковым переключателем */
    }

    .nav-list {
        display: none;
        /* Прячем основное меню */
    }

    .button.cta-btn {
        display: none;
        /* Убираем кнопку "ПОЧНІМО СПІВПРАЦЮ" */
    }

    .icon {
        width: 100px;
        height: 100px;

        /* Оставляем логотип слева */
    }

    .language-link:hover,
    .language-link:focus {
        color: #b80202;
        outline: none;
    }



}



/*

#custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #b80202;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 4px rgba(184, 2, 2, 0.7);
    filter: blur(1px);
}





body {
    cursor: none !important;
}


a,
button,
input,
select,
.button-two,
p {
    cursor: none !important;
}

*/


/*--------------ГОЛОВНИЙ БЛОК--------------*/





.main-container {
    height: 1080px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-container-one {
    transform: translateX(150px);
    /* Смещение только для десктопа */
}

.title {
    z-index: 2;
    left: 3%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.title h1 {
    font-family: 'Anton', sans-serif;
    font-size: 260px;
    font-weight: 400;
    line-height: 1.1;
    color: #fefefe;
    text-transform: uppercase;
}

.txt-one {
    margin-bottom: -40px;
}

.txt-two {
    margin-bottom: -40px;
}

.txt-three {
    margin-bottom: 0;
}

.image-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation:
        complex-motion 30s ease-in-out infinite,
        flicker-dim 8s ease-in-out infinite,
        morph-shape 14s ease-in-out infinite;
    transform-origin: center;
    filter: brightness(50%);
}


@media screen and (max-width: 768px) {
    .main-container {
        background-image: url('./images/2.webp');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        margin-top: 40px;
    }

    .main-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .image-container-one {
        display: none;

    }

    .image-main {
        display: none;
    }

    .title {
        position: relative;
        z-index: 2;
        text-align: center;

    }

    .title h1 {
        font-size: 100px;
        line-height: 1.2;
        color: var(--color-1);
    }

    .txt-one,
    .txt-two {
        margin-bottom: -20px;

    }

    /* Анимация движения фона */
    .main-container {
        animation: background-motion 10s infinite ease-in-out;
    }

    /* Анимации */
    @keyframes background-motion {
        0% {
            background-position: center;
        }

        25% {
            background-position: 20% 40%;
        }

        50% {
            background-position: center;
        }

        75% {
            background-position: 80% 60%;
        }

        100% {
            background-position: center;
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}



/*--------------БЛОК ТЕКСТ--------------*/


.text-container {

    height: 472px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-top: 100px;


}


.text-one {
    color: #fefefe;
    font-family: "Namu-Pro", sans-serif;
    font-size: 28px;
    line-height: 130%;
    font-weight: 400;
    margin: 0 0 26px 0;
    width: 928px;

    text-align: justify;

    text-transform: uppercase;

}

.text-two {
    color: #fefefe;
    font-family: "Namu-Pro", sans-serif;
    font-size: 28px;
    line-height: 130%;
    font-weight: 400;
    margin: 0 0 60px 0;
    width: 928px;

    text-align: justify;


    text-transform: uppercase;
}

.button-two {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}



.button-two:hover .btn-txt,
.button-two:focus .btn-txt {
    color: #b80202;

}

.button-two:hover .rectangle_one,
.button-two:focus .rectangle_one,
.button-two:hover .rectangle_two,
.button-two:focus .rectangle_two {
    background: #fefefe;

}

.button-two:hover .line,
.button-two:focus .line {
    border-color: #fefefe;

}

.lang-pl .btn-txt {
    width: 400px;
    font-size: 22px;
}


.lang-pl .button-content {
    width: 400px;
}

.lang-pl .line {
    width: 404px;
}


@media screen and (max-width: 768px) {


    .text-container {
        height: 335px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        margin-top: 100px;
    }

    .text-one {
        color: #fefefe;
        font-family: "Namu-Pro", sans-serif;
        font-size: 16px;
        line-height: 130%;
        font-weight: 400;
        margin: 0 0 26px 0;
        width: 320px;
        text-align: justify;
        text-transform: uppercase;

    }

    .text-two {
        color: #fefefe;
        font-family: "Namu-Pro", sans-serif;
        font-size: 16px;
        line-height: 130%;
        font-weight: 400;
        margin: 0 0 60px 0;
        width: 320px;
        text-align: justify;
        text-transform: uppercase;
    }

    .button-two {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        width: 294px;
    }

    .button-content {
        width: 294px;
        height: 66px;
        position: static;
        cursor: pointer;
    }

    .btn-txt {
        font-size: 22px;
        width: 250px;
        line-height: 140%;
        font-weight: 400;
        position: absolute;
        left: 44px;
        top: 11px;
        transition: color 0.3s ease;

    }

    .rectangles {
        width: 35px;
        height: 36px;
        position: static;

    }

    .rectangle_one {
        background: #b80202;
        width: 12px;
        height: 36px;
        position: absolute;
        left: 0px;
        top: 0px;
        overflow: hidden;
        transition: background-color 0.3s ease;
    }

    .rectangle_two {
        background: #b80202;
        width: 20px;
        height: 36px;
        position: absolute;
        left: 14px;
        top: 0px;
        overflow: hidden;
        transition: background-color 0.3s ease;
    }

    .line {
        margin-top: -4px;
        border-style: solid;
        border-color: #b80202;
        border-width: 4px 0 0 0;
        width: 294px;
        height: 0px;
        position: absolute;
        left: 0px;
        top: 56px;
        transform-origin: 0 0;
        transform: rotate(0deg) scale(1, 1);
        transition: border-color 0.3s ease;
    }

    .lang-pl .btn-txt {
        width: 320px;
        font-size: 18px;
    }

    .lang-pl .button-two {

        width: 320px;
    }

    .lang-pl .button-content {
        width: 320px;
    }

    .lang-pl .line {
        width: 320px;
    }

}




/*--------------БЛОК НАШІ ПОСЛУГИ--------------*/

.parallax-container {
    margin-top: 200px;
}

.five-container,
.six-container,
.seven-container,
.eight-container,
.nine-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    border: 1px solid #b7b7b7;
    border-radius: 20px;
    margin: 200px 24px 0 24px;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.3), transparent);
}


/* Комплексное движение по диагонали и кругу */
@keyframes complex-motion {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    25% {
        transform: translate(50px, -50px) scale(1.05);
    }

    50% {
        transform: translate(0px, 0px) scale(1.1);
    }

    75% {
        transform: translate(50px, 50px) scale(1.05);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

/* Плавное мерцание */
@keyframes flicker-dim {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    75% {
        opacity: 0.9;
    }
}

/* Искажение формы */
@keyframes morph-shape {
    0% {
        border-radius: 50%;
    }

    25% {
        border-radius: 60% 40% 30% 70%;
    }

    50% {
        border-radius: 40% 60% 70% 30%;
    }

    75% {
        border-radius: 50% 50% 40% 60%;
    }

    100% {
        border-radius: 50%;
    }
}

/* Эффект динамичного затемнения */
@keyframes overlay-fade {

    0%,
    100% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.8;
    }
}

.content {
    max-width: 690px;

}

.content- {
    max-width: 690px;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 460px;
    overflow: visible;
    position: relative;

}

.image-one,
.image-two {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation:
        complex-motion 30s ease-in-out infinite,
        flicker-dim 8s ease-in-out infinite,
        morph-shape 14s ease-in-out infinite;
    transform-origin: center;
    filter: brightness(50%);
}


.parallax-container {
    position: relative;
    overflow: hidden;
}

.card {
    position: relative;
    opacity: 0;
    /* Исходное состояние */
    transform: scale(0.8) rotate(-5deg);
    transition: opacity 0.8s ease, transform 0.8s ease;
    /* Плавные переходы */
    margin: 40px auto;
    width: 80%;
    max-width: 1400px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 40px;
    z-index: 1;
}

.card.show {
    opacity: 1;
    /* Полная видимость */
    transform: scale(1) rotate(0deg);
    /* Возвращаемся в обычное состояние */
}

.card.reverse {
    opacity: 0.9;
    /* Чуть менее видимы */
    transform: translateY(-10px) scale(0.95);
    /* Небольшое смещение и уменьшение */
    transition: opacity 0.8s ease, transform 0.8s ease;
    /* Плавный эффект вверх */
}

.card::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    transform: translateY(20px);
    z-index: -1;
    transition: transform 1s ease-out;
}

.card.show::before {
    transform: translateY(0);
}


/*---розробка сайтів---*/

.title-five {
    font-family: "Namu-Pro", sans-serif;
    font-size: 96px;
    line-height: 120%;
    font-weight: 400;
    color: #fefefe;
    text-transform: uppercase;
}

.description-five {
    font-family: "Namu-Pro", sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    color: var(--color-1);
    margin-top: 20px;

}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 30px;
}

.category {
    font-family: "Namu-Pro", sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    color: var(--color-1);
    border: 1px solid var(--color-3);
    padding: 8px 16px;
    border-radius: 20px;
}

.cta-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0 0 0;
    width: 330px;
    height: 66px;
    cursor: pointer;
}

.lang-pl .cta-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0 0 0;
    width: 430px;
    height: 66px;
    cursor: pointer;
}

.cta {
    display: flex;
    align-items: center;
    gap: 18px;
    position: relative;

}

.cta-icons {
    display: flex;
    gap: 4px;
}

.icon-s {
    width: 18px;
    height: 48px;
    background-color: #e30613;
}

.icon-b {
    width: 34px;
    height: 48px;
    background-color: #e30613;

}

.cta-text {
    font-family: "Namu-Pro", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: var(--color-1);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.cta-line {
    margin-top: -4px;
    border-style: solid;
    border-color: #b80202;
    border-width: 4px 0 0 0;
    width: 330px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 66px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    transition: border-color 0.3s ease;
}

.lang-pl .cta-line {
    width: 700px;
}


/*----ui/ux дизайн----*/

.title-six {
    font-family: "Namu-Pro", sans-serif;
    font-size: 96px;
    line-height: 120%;
    font-weight: 400;
    color: #fefefe;
    text-transform: uppercase;
    text-align: right;
}

.description-six {
    font-family: "Namu-Pro", sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    color: var(--color-1);
    margin-top: 20px;
    text-align: right;
}

.categories-six {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 30px;
}

.category-s {
    font-family: "Namu-Pro", sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    color: var(--color-1);
    border: 1px solid var(--color-3);
    padding: 8px 16px;
    border-radius: 20px;
}

.cta-container-s {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;

    height: 66px;
    cursor: pointer;
}

.lang-pl .cta-container-s {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;

    height: 66px;
    cursor: pointer;
}

.lang-pl .cta-line {
    width: 426px;
}

/*----таргетована реклама----*/

.cta-container_s {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
    height: 66px;
    cursor: pointer;
}


.lang-pl .cta-container_s {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
    height: 66px;
    cursor: pointer;
}

.cta-s {
    display: flex;
    align-items: center;
    gap: 18px;
    position: relative;
}

.cta-icons-s {
    display: flex;
    gap: 4px;
}

.icon-s-s {
    width: 18px;
    height: 48px;
    background-color: #e30613;
}

.icon-b-s {
    width: 34px;
    height: 48px;
    background-color: #e30613;
}

.cta-text-s {
    font-family: "Namu-Pro", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: var(--color-1);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.cta-line-s {
    margin-top: -4px;
    border-style: solid;
    border-color: #b80202;
    border-width: 4px 0 0 0;
    width: 330px;
    position: absolute;
    top: 66px;
}

.lang-pl .cta-line-s {
    width: 420px;

}

/*----ефеективний смм----*/

.cta-container-nine {
    display: flex;
    align-items: center;
    padding-top: 40px;
    height: 66px;
    cursor: pointer;
}

/*----ховер фокус кнопок----*/
.cta-container:hover .cta-text,
.cta-container:focus .cta-text {
    color: #b80202;

}

.cta-container:hover .icon-s,
.cta-container:focus .icon-s,
.cta-container:hover .icon-b,
.cta-container:focus .icon-b {
    background: #fefefe;

}

.cta-container:hover .cta-line,
.cta-container:focus .cta-line {
    border-color: #fefefe;

}


.cta-container-s:hover .cta-text-s,
.cta-container-s:focus .cta-text-s {
    color: #b80202;

}

.cta-container-s:hover .icon-s-s,
.cta-container-s:focus .icon-s-s,
.cta-container-s:hover .icon-b-s,
.cta-container-s:focus .icon-b-s {
    background: #fefefe;

}

.cta-container-s:hover .cta-line-s,
.cta-container-s:focus .cta-line-s {
    border-color: #fefefe;

}


.cta-container_s:hover .cta-text-s,
.cta-container_s:focus .cta-text-s {
    color: #b80202;

}

.cta-container_s:hover .icon-s-s,
.cta-container_s:focus .icon-s-s,
.cta-container_s:hover .icon-b-s,
.cta-container_s:focus .icon-b-s {
    background: #fefefe;

}

.cta-container_s:hover .cta-line-s,
.cta-container_s:focus .cta-line-s {
    border-color: #fefefe;

}

.cta-container-nine:hover .cta-text-s,
.cta-container-nine:focus .cta-text-s {
    color: #b80202;

}

.cta-container-nine:hover .icon-s-s,
.cta-container-nine:focus .icon-s-s,
.cta-container-nine:hover .icon-b-s,
.cta-container-nine:focus .icon-b-s {
    background: #fefefe;

}

.cta-container-nine:hover .cta-line-s,
.cta-container-nine:focus .cta-line-s {
    border-color: #fefefe;

}


/* Общие настройки для мобильной версии */
@media (max-width: 768px) {


    .parallax-container {
        margin-top: 60px;
        padding: 0 16px;
    }


    .five-container,
    .six-container,
    .seven-container,
    .eight-container,
    .nine-container {
        flex-direction: column;

        align-items: center;

        padding: 40px 30px;

        margin: 40px 0 0 0;

    }


    .content,
    .content- {
        max-width: 335px;
        text-align: center;
        padding: 0;
    }



    .text-content-five,
    .text-content-six,
    .text-content-nine {
        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

        text-align: center;

        width: 100%;

    }

    /* Заголовок */
    .title-five,
    .title-six,
    .title-nine {
        font-size: 40px;

        line-height: 110%;

        text-align: center;

        margin: 0 auto;

        display: flex;

        justify-content: center;

        align-items: center;

    }

    /* Описание */
    .description-five,
    .description-six {
        font-size: 16px;
        text-align: center;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }




    /* Категории: кнопки */
    .categories,
    .categories-six {
        display: flex;

        justify-content: center;

        gap: 10px;

        flex-wrap: wrap;

    }

    .category {
        font-size: 16px;

        padding: 6px 12px;



        text-align: center;

    }

    .ca {
        white-space: nowrap;
    }


    .category-s {
        font-size: 16px;

        padding: 6px 12px;

        white-space: nowrap;

        text-align: center;

    }



    .image-container {
        width: 100%;

        height: auto;

        margin-top: 20px;

        display: flex;
        justify-content: center;
        /* Центрирование изображения по горизонтали */
        align-items: center;
        /* Центрирование по вертикали */
        overflow: visible;
        /* Отменяем обрезку изображения */
        box-sizing: border-box;
        /* Учитываем padding и border в ширине и высоте */
    }

    /* Изображение */
    .image-one,
    .image-two {
        width: auto;
        /* Автоматическая ширина */
        max-width: 100%;
        /* Ограничение максимальной ширины контейнера */
        max-height: 100%;
        /* Ограничение максимальной высоты контейнера */
        object-fit: contain;
        /* Изображение вписывается в контейнер, сохраняя пропорции */
        margin: 0 auto;
        /* Центрирование изображения */
    }


    /* Общие стили для кнопок */
    .cta-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 66px;
        margin: 10px 0;
        cursor: pointer;
        position: relative;
        padding: 20px 0 0 0;
    }

    .cta-container-s {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 66px;
        margin: 10px 0;
        cursor: pointer;
        position: relative;
        padding: 20px 0 0 0;
    }

    .cta-container_s {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 66px;
        margin: 10px 0;
        cursor: pointer;
        position: relative;
        padding: 20px 0 0 0;
    }

    .cta-container-nine {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 66px;
        margin: 10px 0;
        cursor: pointer;
        position: relative;
        padding: 20px 0 0 0;
    }


    /* Внутренние элементы кнопок */
    .cta,
    .cta-s {
        display: flex;
        align-items: center;
        /* Вертикальное выравнивание содержимого */
        gap: 10px;
        /* Расстояние между элементами */
        position: relative;

    }





    .cta-icons,
    .cta-icons-s {
        display: flex;
        flex-direction: row;
        /* Горизонтальное расположение */
        gap: 4px;
        /* Расстояние между прямоугольниками */
    }

    /* Прямоугольники внутри кнопки */
    .icon-s,
    .icon-s-s {
        width: 12px;
        height: 36px;
        background-color: #b80202;

        transition: background-color 0.3s ease;

    }

    .icon-b,
    .icon-b-s {
        width: 20px;
        height: 36px;
        background-color: #b80202;

        transition: background-color 0.3s ease;

    }

    /* Текст внутри кнопки */
    .cta-text,
    .cta-text-s {
        font-family: "Namu-Pro", sans-serif;
        font-size: 18px;
        font-weight: 400;
        /* Толщина текста */
        color: #fff;
        /* Цвет текста */
        text-transform: uppercase;
        /* Прописные буквы */
        letter-spacing: 0.5px;
        /* Интервал между буквами */
        text-align: center;
        /* Центровка текста */
        transition: color 0.3s ease;
        /* Плавный переход цвета текста */
        width: 220px;
        margin-bottom: 0;
    }





    /* Линия под текстом */
    .cta-line,
    .cta-line-s {
        position: absolute;
        top: 50px;
        /* Уменьшите значение (например, с 56px до 50px) */
        border-style: solid;
        border-color: #b80202;
        border-width: 4px 0 0 0;
        width: 264px;
        height: 0;
        transition: border-color 0.3s ease;
    }



    /* Ховер эффект для кнопок */
    .cta-container:hover .cta-text,
    .cta-container:focus .cta-text,
    .cta-container-s:hover .cta-text-s,
    .cta-container-s:focus .cta-text-s {
        color: #b80202;
        /* Изменение цвета текста */
    }

    .cta-container:hover .icon-s,
    .cta-container:focus .icon-s,
    .cta-container:hover .icon-b,
    .cta-container:focus .icon-b,
    .cta-container-s:hover .icon-s-s,
    .cta-container-s:focus .icon-s-s,
    .cta-container-s:hover .icon-b-s,
    .cta-container-s:focus .icon-b-s {
        background: #fff;
        /* Изменение цвета прямоугольников */
    }

    .cta-container:hover .cta-line,
    .cta-container:focus .cta-line,
    .cta-container-s:hover .cta-line-s,
    .cta-container-s:focus .cta-line-s {
        border-color: #fff;
        /* Изменение цвета линии */
    }

}






/*--------------БЛОК НАШІ КЕЙСИ--------------*/

/*текст*/

.text-content {
    padding-left: 428px;
    margin-top: 200px;




}

.subtext {
    color: #fefefe;
    text-align: justify;
    font-family: "Namu-Pro", sans-serif;
    font-size: 28px;
    line-height: 120%;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    width: 628px;
    padding-left: 8px;
}

.main-title {
    height: 263px;
    position: relative;



    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;


}

.one {
    color: #fefefe;
    text-align: left;
    font-family: "Antonio-SemiBold", sans-serif;
    font-size: 128px;
    line-height: 120%;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.two {
    color: #fefefe;
    text-align: left;
    font-family: "Antonio-SemiBold", sans-serif;
    font-size: 128px;
    line-height: 120%;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 187px;
    top: 109px;
}

.description {
    color: #fefefe;
    text-align: justify;
    font-family: "Namu-Pro", sans-serif;
    font-size: 28px;
    line-height: 120%;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    height: 51px;
    width: 628px;

}



/*кейси*/


.cases-row-one {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin-top: 120px;

}


.case {
    display: flex;
    flex-direction: column;
    align-items: center;



}


.case-container-one {
    border-radius: 20px;
    border: 1px solid #b7b7b7;
    width: 712px;
    height: 588px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.3), transparent);
}


.case-content-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 628px;
    height: 444px;
    position: relative;
    overflow: hidden;
}

.case-content-one video {
    width: 100%;
    height: 100%;

    object-position: center;
    display: block;

}


.case-container-two {
    border-radius: 20px;
    border: 1px solid #b7b7b7;
    width: 618px;
    height: 410px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.3), transparent);



}

.case-content-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 534px;
    height: 266px;
    position: relative;
    overflow: hidden;
}

.case-content-two video {
    width: 100%;
    height: 100%;

    object-position: center;
    display: block;

}

.btn-case {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
}

.btn-cont {
    width: 150px;
    height: 64px;
    position: static;
}

.btn-txt-case {
    color: #fefefe;
    text-align: left;
    font-family: "Namu-Pro", sans-serif;
    font-size: 26px;
    line-height: 140%;
    font-weight: 400;
    position: absolute;
    left: 68px;
    top: 11px;
    transition: color 0.3s ease;
}

.rectangles_ {
    width: 56px;
    height: 50px;
    position: static;
}

.rectangle_one_ {
    background: #b80202;
    width: 18px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.rectangle_two_ {
    background: #b80202;
    width: 34px;
    height: 48px;
    position: absolute;
    left: 22px;
    top: 0px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.line_ {
    margin-top: -4px;
    border-style: solid;
    border-color: #b80202;
    border-width: 4px 0 0 0;
    width: 162px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 66px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    transition: border-color 0.3s ease;
}

.btn-case:hover .btn-txt-case,
.btn-case:focus .btn-txt-case {
    color: #b80202;

}

.btn-case:hover .rectangle_one_,
.btn-case:focus .rectangle_one_,
.btn-case:hover .rectangle_two_,
.btn-case:focus .rectangle_two_ {
    background: #fefefe;

}

.btn-case:hover .line_,
.btn-case:focus .line_ {
    border-color: #fefefe;

}



.cases-row-two {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin-top: 120px;

}

.cases-row-three {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin-top: 120px;

}

/*--------------БЛОК ЧОМУ ОБИРАЮТЬ НАС--------------*/

.four-container {
    margin-top: 200px;
    display: block;

}


.main-title-two {
    height: 382px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 24px;
}

.four {
    color: #fefefe;
    text-align: left;
    font-family: "Antonio-SemiBold", sans-serif;
    font-size: 128px;
    line-height: 120%;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    left: 303px;
    top: 0px;
    width: 404px;
}

.five {
    color: #fefefe;
    text-align: left;
    font-family: "Antonio-SemiBold", sans-serif;
    font-size: 128px;
    line-height: 120%;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 393px;
    top: 114px;
    width: 744px;
}

.six {
    color: #fefefe;
    text-align: left;
    font-family: "Antonio-SemiBold", sans-serif;
    font-size: 128px;
    line-height: 120%;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 582px;
    top: 228px;
    width: 286px;
}


.list-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 52px 24px 0 24px;
}

.list-one {
    display: flex;
    flex-direction: column;


}

.list-item {
    display: flex;
    justify-content: space-between;


}

.icon-and-title {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon-group {
    display: flex;
    gap: 4px;
    margin-right: 10px;

}

.icon-small {
    width: 18px;
    height: 48px;
    background-color: #b80202;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

.icon-big {
    width: 34px;
    height: 48px;
    background-color: #b80202;
    transition: background-color 0.3s ease;
}

.list-title {
    color: #e0e0e0;
    text-align: left;
    font-family: "Namu-Pro", sans-serif;
    font-size: 48px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    height: 68px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.list-txt {
    color: #e0e0e0;
    text-align: justify;
    font-family: "Namu-Pro", sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    width: 476px;

    text-transform: uppercase;
    opacity: 0.1;
    cursor: pointer;

}

.list-line {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin-top: 44px;
}


/* Базовые стили */
.list-title {
    color: #e0e0e0;
    transition: color 0.3s ease;
    cursor: pointer;
}

.icon-small,
.icon-big {
    transition: background-color 0.3s ease;
}

.list-txt {
    color: #e0e0e0;
    opacity: 0.1;
    transition: color 0.3s ease, opacity 0.3s ease;
}



.button-three {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0 auto;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

.button-three:hover .btn-txt,
.button-three:focus .btn-txt {
    color: #b80202;

}

.button-three:hover .rectangle_one,
.button-three:focus .rectangle_one,
.button-three:hover .rectangle_two,
.button-three:focus .rectangle_two {
    background: #fefefe;

}

.button-three:hover .line,
.button-three:focus .line {
    border-color: #fefefe;

}







/*--------------БЛОК ФОРМА ЗВ'ЯЗКУ--------------*/
.form {
    margin-top: 200px;
    padding-left: 24px;
    padding-right: 24px;
}

.input-section.hidden {
    display: none;
}


.form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.title-form {
    color: #fefefe;
    text-align: left;
    font-family: "Namu-Pro", sans-serif;
    font-size: 32px;
    line-height: 120%;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.btn-form {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.btn-form- {
    border-radius: 30px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    background: none;
    color: var(--color-1);
    font-family: "Namu-Pro", sans-serif;
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-form-:hover,
.btn-form-:focus {
    background-color: none;
    color: var(--color-2);
    border-color: var(--color-2);
    outline: none;

}

.input-section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 40px 0;

}

.input-section input {
    width: 794px;
    background: none;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    color: #e0e0e0;
    padding: 10px 0;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-section input:focus {
    border-bottom: 1px solid #ffffff;

}

.input-section input::placeholder {
    color: var(--color-3);
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    text-transform: lowercase;
}

.checkbox-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.input-section.visible {
    display: flex;

}

.checkbox-section {
    display: flex;
    align-items: center;
    gap: 10px;

}

.checkbox-section input[type="checkbox"] {
    appearance: none;
    width: 28px;
    height: 28px;
    border: 2px solid #b80202;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    outline: none;

}

.checkbox-section input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 7px;
    width: 10px;
    height: 10px;
    border: solid #b80202;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);

}

.checkbox-section label {
    color: #e0e0e0;
    opacity: 0.6;
    font-family: "Namu-Pro", sans-serif;
    font-size: 16px;
    cursor: pointer;
}


.button-form {
    position: relative;
    width: 330px;
    cursor: pointer;

}

.button-content-form {
    width: 360px;
    height: 66px;
    position: static;
}

.btn-txt-form {
    color: #fefefe;
    text-align: left;
    font-family: "Namu-Pro", sans-serif;
    font-size: 26px;
    line-height: 140%;
    font-weight: 400;
    position: absolute;
    left: 68px;
    top: 11px;
    transition: color 0.3s ease;
}

.rectangles-form {
    width: 56px;
    height: 50px;
    position: static;
}

.rectangle_one-form {
    background: #b80202;
    width: 18px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.rectangle_two-form {
    background: #b80202;
    width: 34px;
    height: 50px;
    position: absolute;
    left: 22px;
    top: 0px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.line-form {
    margin-top: -4px;
    border-style: solid;
    border-color: #b80202;
    border-width: 4px 0 0 0;
    width: 328px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 66px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    transition: border-color 0.3s ease;
}

.button-form:hover .btn-txt-form,
.button-form:focus .btn-txt-form {
    color: #b80202;

}

.button-form:hover .rectangle_one-form,
.button-form:focus .rectangle_one-form,
.button-form:hover .rectangle_two-form,
.button-form:focus .rectangle_two-form {
    background: #fefefe;

}

.button-form:hover .line-form,
.button-form:focus .line-form {
    border-color: #fefefe;

}

/* Скрытый блок */
.hidden {
    display: none;
}


.notification {
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: none;
    font-family: "Namu-Pro", sans-serif;
    line-height: 120%;
    font-weight: 400;
    color: var(--color-1);
    padding: 30px 30px;
    border-radius: 5px;
    border: 1px solid var(--color-3);
    font-size: 14px;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.95;
    animation: fadeIn 0.5s ease-in-out;
    text-transform: uppercase;
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 0.95;
        transform: translateY(0);
    }
}

/* Анимация исчезновения */
@keyframes fadeOut {
    from {
        opacity: 0.95;
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}



/*--------------БЛОК ФУТЕР--------------*/

.footer {
    margin-top: 200px;
}

.logo-email {
    display: flex;
    justify-content: space-between;

}

.email-address {
    color: #fefefe;
    text-align: left;
    font-family: "Namu-Pro", sans-serif;
    font-size: 64px;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 24px;
}

.nav-btn {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 80px;
}

.btn-footer {
    border-radius: 30px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    background: none;
    color: var(--color-1);
    font-family: "Namu-Pro", sans-serif;
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 318px;

}

.btn-footer:hover,
.btn-footer:focus {
    color: #b80202;
    /* Красный цвет при наведении */
    border-color: #b80202;
    /* Красная граница */
}

.btn-footer:active {
    color: #fefefe;
    /* Возвращаем белый цвет при клике */
    border-color: var(--color-1);

}



.footer-txt {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 30px;
}


.footer_txt {
    color: #fefefe;
    text-align: right;
    font-family: "Namu-Pro", sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
}



/* Стили для кнопки при польском языке */







.lang-pl .btn-cont {
    width: 224px;

}

.lang-pl .line_ {
    width: 224px;

}

.lang-pl .button-form {
    width: 270px;

}

.lang-pl .button-content-form {
    width: 264px;

}

.lang-pl .line-form {
    width: 264px;

}